* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#divgeral {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#divnav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    align-items: center;
}

#nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.5);
    width: 20vw;
}


#divimage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

#image {
    width: 20vw;
    height: auto;
}

.divpagesbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.pagesbutton {
    font-weight: bold;
    color: black;
    height: 8vh;
    width: 14vw;
    color: white;
    border-radius: 1.2rem;
    background-color: rgba(0, 255, 0, 0.6);
    border: 0.1;
}

.pagesbutton:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 1);
}

#divsair {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: center;

}

#btnsair {
    color: white;
    border-radius: 1.2rem;
    height: 8vh;
    width: 10vw;
    background-color: rgba(255, 0, 0, 0.75);
}

#btnsair:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 1);
}

#main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    padding: 2rem;
    gap: 1.5rem;
    overflow-x: hidden;
}

#title {
    width: 11vw;
}

.form-criar-Produto {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 27vh;
    gap: .5rem;
}

.form-texts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.label {
    width: 100%;
}

.input {
    border: 0.1;
    border-radius: .3rem;
    width: 70vw;
}

.borda {
    border: 3px solid red;
}

.borda2 {
    border: 3px solid blue;
}